<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/png" href="" />
  <title>HealthSync</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/global/healthvector.png"
    />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/index-form.css" />
  <link rel="stylesheet" href="../css/local/admin-dash.css">
</head>

<body>
  <%- include("../includes/header.ejs")  %>
  <%- include("../includes/admin-sub-head.ejs")  %>

  <main>
    <div class="wrapper">
      <div class="container">
        <div class="item">
          <img class="lidong" src="/img/local/Group 552.png" alt="">
          <h2>DOCTOR</h2>
        </div>
        <div class="item">
          <img class="lidong" src="/img/local/Group 553.png" alt="">
          <h2>NURSE</h2>
        </div>
        <div class="item">
          <img class="lidong" src="/img/local/Group 554.png" alt="">
          <h2>PHARMACY</h2>
        </div>
        <div class="item">
          <img class="lidong" src="/img/local/Group 555.png" alt="">
          <h2>MEDTECH</h2>
        </div>

      </div>
    </div>



  </main>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var nav2 = document.querySelector(".nav1");
    if (nav2) {
      nav2.classList.toggle("selected");
    }
  });
</script>

</html>