<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href=""/>
    <title>Doctors Laboratory Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/index-form.css" />
    <link rel="stylesheet" href="../css/local/admin-users.css">
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <%- include("../includes/admin-sub-head.ejs")  %>
    <main>
      
      <div class="search2">
        <div class="search">
          <input type="text" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
      </div>
      <div class="table-container">
        <div class="separate-sec">
          <div class="res-btn">
            <button class="btn-users button-green">USERS</button>
            <button class="btn-users user-btn">RESTRICTED</button>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>USER TYPE</th>
              <th>NAME</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>Doctor</td>
              <td>Adriane Garcia</td>
              
            </tr>
            <tr>
              <td>Pharmacy</td>
              <td>Eugene Gerna</td>             
            </tr>
            <tr>
              <td>Nurse</td>
              <td>Joel Magalay Carpio</td>             
            </tr>
            <tr>
              <td>Pharmacist</td>
              <td>John Rey Pagaspas</td>             
            </tr>
            <tr>
              <td>Doctor</td>
              <td>Galicia Kim</td>             
            </tr>
            <tr>
              <td>Nurse</td>
              <td>Jhondrex Alde</td>             
            </tr>
            
          </tbody>
        </table>
        <div class="create-user-btn">
          <button id="create-user-btn" onclick="popUp_button(this)">CREATE USER</button>
        </div>
        <div class="pop-up" id="create-user" style="display: block;">
          <div class="close-container">
            <img src="../icon/close.svg" alt="" class="close_popUp">
          </div>
          <h1 class="heading">CREATE USER</h1>
          <main>
            <form action="/admin/create-user/submit" method="POST">
              <select name="rhu_id" id="">
                  <option value="1">Main</option>
                  <option value="2">Maypangdan</option>
                  <option value="3">Tabunan</option>
                  <option value="4">Songco</option>
              </select>
              <input type="text" placeholder="Surname" name="surname" required>
              <input type="text" placeholder="Firstname" name="firstname" required>
              <input type="text" placeholder="Middlename" name="middle_name">
              <select name="profession" id="">
                  <option value="Pediatrician">Pediatrician</option>
                  <option value="Optalmologist">Optalmologist</option>
                  <option value="Oncologist">Oncologist</option>
                  <option value="Psychiatrist">Psychiatrist</option>
                  <option value="Dermatologist">Dermatologist</option>
                  <option value="Gynenacologist">Gynenacologist</option>
                  <option value="Rn">Registered nurse</option>
                  <option value="Mental Health Nursing">Mental Health Nursing</option>
                  <option value="Pediatric nursing">Pediatric nursing</option>
                  <option value="Oncology nursing">Oncology nursing</option>
                  <option value="Pharmacist">Pharmacist</option>
                  <option value="Medical Laboratory Scientist">Medical Laboratory Scientist</option>
                  <option value="Radiographer">Radiographer</option>
                  <option value="Clinical Laboratory Technologist">Clinical Laboratory Technologist</option>
              </select>
              <input type="text" placeholder="License no." name="license_number">
              <input type="text" placeholder="Username" name="username" required>
              <input type="password" placeholder="Password" name="password" required>
              <select name="user_type" id="" required>
                  <option value="doctor">Doctor</option>
                  <option value="nurse">Nurse</option>
                  <option value="medtech">Med Tech</option>
                  <option value="pharmacist">Pharmacist</option>
              </select>
              <button class="create-btn" type="submit">Create</button>
          </form>
          </main>
        </div>
    </main>
    <script src="../../js/global/pop-up.js"></script>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    var nav2 = document.querySelector(".nav2");
    if (nav2) {
      nav2.classList.toggle("selected");
    }
  });
  </script>
</html>
