<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin-dashboard.css">
    <title>Preview</title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="inner-inner-container">Users</div>
            <div class="inner-inner-container">Restricter users</div>
        </div>
        <div class="inner-container">
            <div class="inner-inner-container">Create users</div>
        </div>
    </div>
</body>
</html>