<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admin-dashboard.css">
    <title>Preview</title>
</head>
<body>
    <div class="container">
        <div class="inner-container">
            <div class="inner-inner-container">
                <p>Users</p>
                <table>
                    <thead>
                        <tr>
                            <th>Usertype</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="inner-inner-container">
                <p>Restricted users</p>
                <table>
                    <thead>
                        <tr>
                            <th>Usertype</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="inner-container">
            <div class="inner-inner-container">
                <p>Create user</p>
            </div>
        </div>
    </div>
</body>
</html> 