<div class="sub-head">
    <div onclick="window.location.href='/admin-dashboard'" class="nav1">
        <h2>DASHBOARD</h2>
    </div>
    <div onclick="window.location.href='/admin-users'" class="nav2">
        <h2>USERS LIST</h2>
    </div>
  </div>