<header>
  <div class="logo"><img src="../img/global/logohealth.png" alt=""></div>
  <div class="profile1">
    <img class="notif" src="../icon/notif.svg" alt="">
    <img src="../icon/profile.svg" alt="" />
  </div>
</header>
<div class="overlay"></div>