<div class="sub-head">
  <div onclick="window.location.href='/pharmacy-inventory'" class="nav1">
      <h2>INVENTORY</h2>
  </div>
  <div onclick="window.location.href='/pharmacy-records'" class="nav2">
      <h2>RECORDS</h2>
  </div>
</div>