<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global/general.css" />
  <link rel="stylesheet" href="/css/local/patient-history.css" />
  <title>HealthSync</title>
  <link rel="shortcut icon" type="image/png" href="/img/global/healthvector.png" />
</head>

<body>
  <%- include("../includes/header.ejs") %>
    <main>
      <input type="hidden" id="patient-id" value="<%= patient_id %>">
      <h1 class="headings">PATIENT HISTORY</h1>
      <div class="history-container">
        <div class="b date-container" id="date-container">
        </div>
        <div class="b info-container">
          <!-- Patient information -->
          <h2 class="form-header">PATIENT INFORMATION</h2>
          <div class="patient-info">
            <div class="inputs">
              <label for="">Name:</label>
              <input type="text" id="name">
            </div>
            <div class="inputs">
              <label for="">Philhealth No:</label>
              <input type="text" id="phil_no">
            </div>
            <div class="inputs">
              <label for="">Suffix:</label>
              <input type="text" id="suffix">
            </div>
            <div class="inputs">
              <label for="">Mobile No.</label>
              <input type="text" id="phone">
            </div>
            <div class="inputs">
              <label for="">Birthdate:</label>
              <input type="date" id="birthdate">
            </div>
            <div class="inputs">
              <label for="">Email:</label>
              <input type="text" id="email">
            </div>
            <div class="inputs">
              <label for="">Gender:</label>
              <input type="text" id="gender">
            </div>
            <div class="inputs">
              <label for="">Occupation:</label>
              <input type="text" id="occupation">
            </div>
            <div class="inputs">
              <label for="">Guardian:</label>
              <input type="text" id="guardian">
            </div>
            <div class="inputs">
              <label for="">Address:</label>
              <input type="text" id="address">
            </div>
          </div>

          <!-- Medical records -->
          <h2 class="form-header m">MEDICAL RECORDS</h2>
          <div class="patient-info">
            <div class="inputs">
              <label for="">Height:</label>
              <input type="number" id="height">
            </div>
            <div class="inputs">
              <label for="">Temperature:</label>
              <input type="text" id="temperature">
            </div>
            <div class="inputs">
              <label for="">Weight:</label>
              <input type="text" id="weight">
            </div>
            <div class="inputs">
              <label for="">Heart Rate:</label>
              <input type="text" id="heart_rate">
            </div>
            <div class="inputs">
              <label for="">Systolic:</label>
              <input type="text" id="systolic">
            </div>
            <div class="inputs">
              <label for="">Diastolic:</label>
              <input type="text" id="diastolic">
            </div>
            <div class="inputs">
              <label for="">BMI:</label>
              <input type="text" id="bmi">
            </div>
            <div class="inputs">
              <label for="">Respiratory Rate:</label>
              <input type="text" id="respiratory_rate">
            </div>
            <div class="wide-inputs">
              <label for="">Comment:</label>
              <Textarea id="comment"></Textarea>
            </div>
          </div>

          <!-- laboratories -->
          <h2 class="form-header m">Laboratories </h2>
          <div class="patient-info" id="ko">
            <table>
              <tr>
                <th>Categories</th>
                <th>Services</th>
              </tr>
              <tr>
                <td>
                  <ul id="categoryList">
                  </ul>
                </td>
                <td>
                  <ul id="serviceList">
                  </ul>
                </td>
              </tr>
            </table>
            
            <div class="listing ">
              <p class="nomnoms">LABORATORY RESULTS</p>
              <div class="image-section">
                
                <div class="main-image">
                  <div id="prev-btn"><img src="/icon/arrow-left.svg" alt=""></div>
                  <img id="displayedImage" src="/img/local/jr.png" alt="">
                  <div id="next-btn"><img src="/icon/arrow-right.svg" alt=""></div>
                </div>
                
              </div>
            </div>
          </div>

          <!-- Full-screen image -->
          <div id="imageModal" class="modal">
            <span id="closeModal" class="close">&times;</span>
            <img id="fullScreenImage" class="modal-content">
          </div>

          <!-- Prescriptions -->
          <h2 class="form-header m">Prescriptions</h2>
          <div class="m patient-info" id="ko">
            <table>
              <thead>
                <tr>
                  <th>Medicine</th>
                  <th>Quantity</th>
                  <th>Instruction</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="medicineList"></td>
                  <td id="quantityList"></td>
                  <td id="instructionList"></td>
                </tr>
              </tbody>
            </table>
          </div>
          


          <!-- End of info-container-->
        </div>

        <!-- end of history container -->
      </div>
    </main>
    <script src="../../js/local/doctor-dashboard/patient-history-api.js"></script>
    <script>
      const fullScreenImage = document.getElementById('fullScreenImage');
      const imageModal = document.getElementById('imageModal');
      const closeModal = document.getElementById('closeModal');

      displayedImage.addEventListener('click', function () {
        fullScreenImage.src = displayedImage.src;
        imageModal.style.display = 'flex';
      });

      closeModal.addEventListener('click', function () {
        imageModal.style.display = 'none';
      });

      imageModal.addEventListener('click', function (event) {
        if (event.target === imageModal) {
          imageModal.style.display = 'none';
        }
      });
    </script>
</body>

</html>