<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/patient-registration.css" />
    <link rel="stylesheet" href="../css/local/id.css" />
    <title>HealthSync</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/global/healthvector.png"
    />
</head>
<body>
    <%- include("../includes/header.ejs")  %>
    <h1 class="headings">PATIENT REGISTRATION</h1>
    <main>
        <div class="buttons">
            <div class="add-transfer">
              <button>RECENTLY ADDED</button>
              <button>HEALTH ASSESSMENT</button>
            </div>
        </div>

        <!-- Parent container ./. -->
        <div class="container">

            <!-- Patient information na container :) -->
            <div class="sub-con patients-information-container">
                <div class="patient-head">
                    <h2 class="form-header">PATIENT INFORMATION</h2>
                </div>
                <div class="information">
                    <div class="r align">
                        <div>
                            <label for="uniqId">Unique ID:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="lastName">Last Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="firstName">First Name</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="middleName">Middle Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="suffix">Suffix</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="address">Address: <span class="add">House no, Purok, Brgy, Municipality</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="birthDate">Birth date</label>
                            <input type="date">
                        </div>
                        <div>
                            <label for="Email">Email Address</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="gender">Gender</label>
                            <select name="" id="">
                                <option value="gender" selected disabled>Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div>
                            <label for="guardian">Guardian</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="date">Date</label>
                            <input type="date">
                        </div>
                        <div>
                            <label for="phoneNumber">Phone Number</label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="philhealth">PhilHealth No.</label>
                            <input type="number">
                        </div>
                        <div>
                            <label for="occupation">Occupation</label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="check">
                        <div class="checkbox">
                            <input type="checkbox" id="newUserCheck">
                            <label for="newUserCheck">Bagohan ba in na user?</label>
                        </div>
                        <button class="button-pink" id="generateIdButton" style="display: none;">Generate ID</button>
                    </div>
                </div>
            </div>


            <!-- Vital sign na container :) -->
            <div class="sub-con vital-sign-container">
                <div class="patient-head">
                    <h2 class="form-header">VITALS SIGN</h2> 
                </div>
                <div class="information">
                    <div class="r">
                        <div>
                            <label for="height">Height in cm <span>*</span></label>
                            <input type="number">
                        </div>
                        <div>
                            <label for="weight">Weight in cm <span>*</span></label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="temperature">Temperature c <span>*</span></label>
                            <input type="number">
                        </div>
                        <div>
                            <label for="pulse">Pulse rate <span>*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="bpSystolic">BP Systolic <span>*</span></label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="bpDiastolic">BP Diastolic <span>*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="respiratoryRate">Respiratory Rate <span>*</span></label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="BMI">BMI <span>*</span></label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="r">
                        <div>
                            <label for="complain">Chief Complain <span>*</span></label>
                            <textarea name="" id=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="submit-button">
                    <button>Submit</button>
                </div>
            </div>
        </div>
        <div class="pop-up" id="generate-id" style="display: none;">
            <div class="close-container">
              <img src="../icon/close.svg" alt="" class="close_popUp">
            </div>
            <h1 class="heading">MULTI-PURPOSE ID</h1>
            <main class="id-container">
              <div id="id-container">
                <div class="all">
                  <div class="rec11">
                    <img class="rec1" src="../img/id-img/rec1.png" />
                  </div>
                  <div class="three">
                    <div class="prof">
                      <img class="profile" id="beneficiary-picture" src="../img/local/jr.png" />
                    </div>
            
                    <div class="info">
                      <p class="name" id="beneficiary-name">JOHN REY B. PAGASPAS</p>
                      <p class="status" id="beneficiary-status">Student</p>
                      <div class="rectangle"></div>
            
                      <div class="i1-t">
                        <img class="icon1" src="../img/id-img/icon1.png" />
                        <p class="address" id="beneficiary-address">Maypangdan Borongan Eastern Samar</p>
                      </div>
        
                      <div class="i3-t">
                        <img class="icon3" src="../img/id-img/icon3.png" />
                        <p class="phoneno." id="beneficiary-phone">09970752488</p>
                      </div>
                    </div>
            
                    <div class="qrr" id="qrcode">
                    </div>
            
                    <div class="recd11">
                      <img class="recd1" src="../img/id-img/recd1.png" />
                    </div>
            
                    <div class="recd22">
                      <img class="recd2" src="../img/id-img/recd2.png" />
                    </div>
            
                    <div class="recd33">
                      <img class="recd3" src="../img/id-img/recd3.png" />
                    </div>
            
                    <div class="recd44">
                      <img class="recd4" src="../img/id-img/recd4.png" />
                    </div>
                  </div>
                </div>
              </div>
              <button class="button-green" onclick="printContainer('id-container')">PRINT</button>
            </main>
          </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('newUserCheck').addEventListener('change', function() {
                const button = document.getElementById('generateIdButton');
                if (this.checked) {
                    button.style.display = 'block';
                } else {
                    button.style.display = 'none';
                }
            });

            document.getElementById("generateIdButton").addEventListener('click', function(){
                document.getElementById("generate-id").style.display = 'block';
                document.querySelector(".overlay").style.display = 'block';


                

                document.querySelector(".close_popUp").addEventListener('click', function(){
                    document.getElementById("generate-id").style.display = 'none';
                    document.querySelector(".overlay").style.display = 'none';
                })
            })
        });
    </script>
</body>
</html>