<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/login.css" />
    <title>HealthSync|Login</title>
</head>
<body>
    <main>
        <% if (messages.error) { %>
            <div>
                <%= messages.error %>
            </div>
            <% } %>
        <form action="/login/user" method="POST">
                <select name="user_type" id="">
                    <option value="Nurse">Nurse</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Med Tech">Med Tech</option>
                    <option value="Pharmacist">Pharmacist</option>
                </select>
                <input type="text" name="username">
                <input type="password" name="password">
                <button type="submit" class="button-pink">Login</button>
        </form>
    </main>
</body>
</html>