<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/login.css" />
  <title>HealthSync</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/global/healthvector.png"
    />
</head>

<body>
  <main>
    <div class="logo">
      <img src="../img/global/logohealth.png" alt="">
    </div>
    <div class="error">
      <% if (messages.error) { %>
      <%= messages.error %>

      <% } %>
    </div>
    Sign-in as...
    <form action="/login/user" method="POST">
      <select name="user_type" id="">
        <option value="Nurse">Nurse</option>
        <option value="Doctor">Doctor</option>
        <option value="Med Tech">Med Tech</option>
        <option value="Pharmacist">Pharmacist</option>
      </select>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button type="submit" class="button-pink">Login</button>
      <a href="">forgot password</a>
    </form>
  </main>
  <footer>
    <div class="logos">
      <img src="../img/global/dost-logo.png" alt="">
      <img src="../img/global/essu-logo.png" alt="">
      <img src="../img/global/lgu-logo.png" alt="">
      <img src="../img/global/DA-logo.png" alt="">
    </div>
    <p style="color: rgb(56, 56, 56);">All right reserve 2024: <strong style="color: white;">Kim Galicia</strong></p>
  </footer>
</body>

</html>