@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  font-family: lexend;
  margin: 0;
}

:root {
  --green-color: #44a130;
  --pink-color: #ff007f;
  --font-size: 1.5rem;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.05);
  /* wag delete comments lang para andito lang hahaha */
}

header {
  background-color: var(--green-color);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
header > .logo-menu > .menu > img {
  width: 24px;
}
header > .profile1 > img {
  width: 40px;
}
header > .profile1 > .notif {
  width: 40px;
  height: 35px;
  margin-right: 12px;
}

header > .logo > img {
  width: auto;
  height: 45px;
  cursor: pointer;
}

.headings {
  color: var(--pink-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #fff;
  font-family: Lexend;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 28px 0;
}

main {
  padding: 0 24px 24px 24px;
}

input{
  height: 38px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 12px;
}

textarea{
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 12px;
  height: 100%;
}

.search {
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 4px 16px 4px 8px;
  width: 40%;
}

.search > input[type="text"] {
  border: none !important;
  padding: 8px !important;
  outline: none !important;
  width: 100% !important;
  box-shadow: none;
  height: fit-content;
}
.search > img {
  width: 20px;
}


button {
  width: 210px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  font-family: Lexend;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  letter-spacing: 2px;
  text-wrap: nowrap;
}

.button-bordered{
  border: 1px solid black;
  color:black;
}

.button-green{
  background-color: #44a130;
}

.button-pink{
  background-color: #FF007F;
}

button:hover {
  width: 212px;
  height: 42px;
}

.button-maliit{
  width: fit-content !important;
  text-wrap: nowrap;
  cursor: pointer;
}
.button-maliit:hover{
  width: fit-content !important;
}

select{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  appearance: none;
  padding-right: 30px;
  background: url('../../icon/dropdownIcon.svg') no-repeat right 10px center;
  background-size: 12px;
  background-color: #FFF;
}

.table-container{
  width: 100%;
  overflow: scroll;
  max-height: 700px;
  height: fit-content;
  margin-bottom: 24px;
  position: relative;
  overflow: visible;
}
.table-container::-webkit-scrollbar{
  display: none;
}

table{
  margin-top: 32px;
  border-collapse: collapse;
  min-width: 100%;
}

table > thead > tr {
  height: 40px;
  background-color: var(--green-color);
  color: #fff;
}

table > thead > tr > th,
table > tbody > tr > td{
  padding: 12px;
  text-wrap: nowrap;
  font-family: lexend;
  font-weight: 400;
}

table >tbody > tr{
  height: 40px;
  border-bottom: 1px solid #848383;
  text-align: center;
}

.sub-head{
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 0, 127, 0.00) 0%, rgba(255, 0, 127, 0.10) 48.5%, rgba(255, 0, 127, 0.00) 100%);
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.sub-head > .nav1 > h2,
.sub-head > .nav2 >h2,
.sub-head > .nav3 >h2,
.sub-head > .nav4 >h2{
  padding: 10px;
  cursor: pointer;
}

.sub-head > .selected{
  border-bottom: 4px solid black;
}

input, textarea {
  border: #696969 solid 1px;
}


.form-header {
  background-color: var(--green-color);
  color: white;
  padding: 4px 24px;
  border-radius: 10px;
  text-align: center;
}

.underlineInputs {
  border: none;
  width: 100%;
  box-shadow: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}


input[type="checkbox"] {
  width: 20px;
  height: 20px; 
}


.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  display: none;
  z-index: 1;
}

.pop-up, .pop-up-confirm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FFF;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  box-shadow: var(--shadow);
  overflow: hidden;
  padding: 30px 60px;
  display: none;
  overflow: visible;
  z-index: 2;
}
.pop-up > .close-container{
 margin: 0 -60px;
 margin-top: -30px;
 display: grid;
 place-items: end;
 padding: 12px;
}
.pop-up > .close-container > img {
 cursor: pointer;
}
.pop-up > .heading{
  color: #FF007F;
  text-align: center;
  font-style: normal;
  line-height: normal;
  margin-bottom: 40px;
}
.pop-up-confirm{
  display: none !important;
}

.pop-up-confirm > div{
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.pop-up-confirm > div > main{
  display: flex;
  gap: 12px;
}

.input-w8-label{
  display: flex;
  flex-direction: column;
}

.visible {
  display: block !important;
}

.pop-up .table-container{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pop-up .table-container > table{
  margin: 0;
}
.pop-up .table-container > table > tbody > tr{
  border: none;
}

.error{
  padding: 5px 0;
  width: 100%;
  text-align: center;
  color: red;
  font-weight: bold;
}

.menu-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dot{
  cursor: pointer;
}

.triple-dot{
  margin-bottom: -240px;
  margin-left: -150px;
  position: absolute;
  display: none;
}

.triple-dot .visible{
  display: block;
}

.menu{
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 10px;
  padding: 24px;
  box-shadow: var(--shadow);
}

.menu button{
  width: auto;
  color: black;
}

.menu button:hover{
  background-color: #44a130;
  color: #FFF;
}