.bord-bot{
    border-bottom: 4px solid #000;
    height: 50%;
  }
.separate-sec{
  display: flex;
  justify-content: space-between;
}
.btn-users{
  border-radius: 0px !important;
  box-shadow: none !important;
  margin: 0 !important;
  filter: none;
}
.btn-users:hover{
  width: 200px !important;
  height: 40px !important;
}

.create-user-btn {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.create-user-btn > button {
  background-color:  #FF007F;
}

.create-btn {
  background-color:  var(--green-color);
}

.user-btn{
  border: none !important;
  color: #000 !important;
  background-color: rgb(230, 228, 228);
}
.table-container table{
  margin: 0;
}
.table-container table th{
  background-color: rgb(230, 228, 228);
  color: black;
}

.search2{
  display: flex;
  justify-content: end;
}
.res-btn{
  display: flex;
}
.selecter select{
  width: 100% !important;
  margin-bottom: 20px;
}
select{
  width: 189.6px;
}
.gap-all{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
.create-all{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}