.info {
    margin: 0;
    padding: 2em 3em;
}

.pop-up {
    padding: 0 !important;
}

/* p {
    font-size: 1.5rem;
} */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row select {
    width: 350px !important;
}

.gap {
    gap: 1em;
}

.just-bet {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}

.lgap {
    gap: 3em;
}

input {
    width: 90%;
}

select {
    width: 100%;
}

button {
    background-color: var(--pink-color);
}

.left-btn {
    text-align: end;
}

.under-line-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.grow {
    flex-grow: 1;
}

/* .s {
    width: 24%
} */

.btn-l {
    text-align: end;
}

.btn-l button:nth-child(1) {
    background-color: white;
    color: black;
    border: solid 1px black;
    margin-right: 1em;
    margin-top: 5em;
}

.under-line-input {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    box-shadow: none;
    height: 50%;
}

.head>img {
    margin-right: 1em;
    height: 10px;
}

.head {
    color: white;
    background-color: var(--green-color);
    padding: .5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lab {
    border-radius: 10px;
    border: .1px solid rgb(100, 100, 100);
}

.lab>p:nth-child(1) {
    background-color: var(--pink-color);
    color: white;
    height: 36px;
    align-items: center;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 0 .5em;
}

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40px;
}

.grid-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}


/* For print CSS */


/* .logo-print {
    height: auto;
    width: auto;
} */


@page {
    size: Letter;
    margin: .1in;
}

#labReqPrint {
    padding: 1em 1em;
    height: auto;
    border-radius: 0;
    border: 1px solid black;
    display: flex;
}

#resetaPrint {
    padding: 1em 1em;
    height: auto;
    border-radius: 0;
    border: 1px solid black;
    display: flex;
}

#resetaPrint,
#labReqPrint p {
    font-size: 1.5rem;
}


@media print {

    .buttons,
    .table-container,
    .headings,
    header,
    button,
    .pop-up,
    .overlay {
        display: none !important;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .show {
        display: block !important;
    }

    .LabReqPrint {
        /* display: block !important; */
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        page-break-before: auto;
    }


    .ResetaPrint {
        /* display: block !important; */
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        page-break-before: always;
    }

}


.head1 {
    font-size: 2rem !important;
}

.head2 {
    font-size: 1.8rem !important;
}

.b {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.m-top {
    margin-top: 2em;
}


.b-p {
    color: #4F33FF;
}

.infoooo {
    padding-top: 2em;
    gap: .5em;
}


.s {
    width: 25%
}


input[type="checkbox"] {
    height: auto;
    box-shadow: none;
}

.p-s {
    color: red;
}


.h-line {
    border: 1px solid black;
    margin: 1em 0;
}

.cat {
    margin: 3em 0;
}

.d {
    margin-top: 3em;
}

span {
    color: black;
}

.ha {
    font-size: 4rem;
}

details ul {
    padding-left: 20px;
}

details {
    user-select: none;
    cursor: pointer;
}