.container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    background-color: aqua;
}

.ulo {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
}

.sub-con {
    width: 100%;
    padding: 20px 60px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.radyo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.radyoo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}


.row > div {
    width: 100%;
}


.gar {
    margin-top: 40px;
}

hr {
    margin: 20px 0px;
}

.tanong {
    float: left;
}



