.container {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: wrap;
}

.ulo {
    margin-top: 2em;
    /* text-wrap: nowrap; */
}

.ulo-ulo {
    margin-top: 0;
}

.sub-con {
    width: 100%;
    padding: 1em 1em;
    box-shadow: var(--shadow);
    flex: 1 1 45%;
}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex: 1 1 20%;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
    flex-wrap: wrap;
}

.grow {
    flex: 1;
}

.labels-input-rows {
    display: flex;
    flex-direction: column;
}

.small-margineuestions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.s {
    width: 70% !important;
}

.m {
    width: 1%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-two-c {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .row-right {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
} */


/* .row-right > div {
    width: 25%;
    text-wrap: nowrap;
} */

.right-container {
    display: flex;
    justify-content: center;
    align-self: self-start;
}

.small-margine {
    margin-top: 30px;
}

.row>div {
    width: 100%;
}


.large-margine {
    margin-top: 40px;
}

hr {
    margin: 20px 0px;
}

.h {
    margin-top: 20px;
}

.hay {
    height: 28px;
}


/* .no-w {
    text-wrap: nowrap;
} */

input,
textarea {
    height: 32px;
    width: auto !important;
    border-radius: 10px;
}

.text-box-g {
    gap: 4px;
}

textarea {
    height: 20vh;
}


.special-child {
    font-size: 1rem !important;
    /* text-wrap: nowrap; */
    display: flex;
    align-items: center;
    gap: 2px;
}

select {
    width: 100% !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="checkbox"] {
    height: auto !important;
    box-shadow: none;
}


/* @media (max-width: 1200px) {
    body {
        background-color: aqua;
    }
    p, label {
        font-size: 1rem;
    }
  } */

.allergy-css {
    display: flex;
    align-items: center;
    gap: 1em;
}

.allergy-css .opttt {
    display: none;
}



input[type="radio"] {
    height: auto !important;
    box-shadow: none;
}


.buton {
    height: auto;
    width: auto !important;
    padding: .5em 2em;
    background-color: var(--pink-color);
    margin-bottom: 20px;

}

.buton:hover {
    height: auto;
    width: auto;
}

.butt {
    background-color: var(--green-color);
    margin: 28px 0 0 0;
}

.health-assessment-button {
    display: flex;
    justify-content: center;
}