body{
  background: linear-gradient(180deg, #44A130 0%, #FF007F 100%) no-repeat ;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

main > form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
}