.add-transfer button {
    background-color: #44a130;
}

.add-transfer {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.container {
    margin-top: 32px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.sub-con {
    padding: 16px;
    position: relative;
    border-radius: 0px 20px;
    border: 1px solid #d1d1d1;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 10px 20px rgba(0, 0, 0, 0.1), 
              0 20px 40px rgba(0, 0, 0, 0.05); */
    box-shadow: var(--shadow);
    flex: 1 1 43%;
}

/* .sub-con img {
    position: absolute;
    top: 4px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--pink-color);
} */

.patients-information-container {
    width: 100%;
}

.patient-head {
    display: flex;
    justify-content: center;
}


.patient-button {
    background-color: var(--pink-color);
    font-size: var(--font-size);
}

.information {
    margin-top: 48px;
    position: relative;
}


.vital-sign-container {
    width: 100%;
}


.r {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 16px;
}


.r div {
    display: flex;
    flex: 1 1 27%;
    flex-direction: column;
    width: 100%;
}

.b {
    display: flex;
    gap: 8px;
}

.submit-button {
    /* position: absolute; */
    /* bottom: 16px;
    right: 16px; */
    /* height: auto; */
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 5em;
}

.submit-button button {
    background-color: var(--green-color);
}

.align {
    display: flex;
    align-items: end;
}

span {
    color: red;
}

select {
    width: 100% !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.add {
    font-style: italic;
    opacity: .5;
    color: black !important;
}


textarea {
    height: 20vh;
}


#search-btn {
    background-image: url(../../icon/ic_baseline-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--pink-color);
    width: 40px;
    border: none;
    border-radius: 50%;
}

.btn-layout {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}


#grrr {
    background-color: var(--pink-color);
    flex-grow: 1;
    border-radius: 20em;
}

#hide-search {
    display: none;
}


input[type="button"] {
    background-color: var(--pink-color);
    width: 40px;
    border-radius: 50%;
}

.g {
    flex-grow: 1 !important;
}

.s {
    flex-grow: 0 !important;
}

#generate-id>main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#generate-id>main>button {
    align-self: self-end;
}

.check {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.check>.generateID {
    display: flex;
    align-items: center;
    gap: 20px;
}

.check>.generateID>.inputFile,
.check>.generateID>button {
    width: 50%;
}

.check>.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
}

.inputStyle {
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 12px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.inputStyle>p {
    margin: 0;
    width: fit-content;
}

#recently-admitted-table {
    width: 50%;
}

#recently-admitted-table .table-container {
    max-height: 370px;
    overflow: visible;
    position: relative;
}

#recently-admitted-table .table-container thead {
    position: sticky;
    top: 0;
}

#recently-admitted-table .table-container tbody tr td:last-child {
    font-weight: normal;
}

#recently-admitted-table .table-container tbody tr td:first-child {
    font-weight: bold;
}

.triple-dot {
    margin-bottom: -185px;
    margin-left: -100px;
}

.pagination {
    margin-top: 24px;
}


#confirm_patient_registration main {
    margin-bottom: 0;
}


#submit_prompt img {
    width: 70px;
    margin-top: -60px;
    background-color: #ffff;
    border-radius: 50%;
    padding: 10px;
}

.visible1 {
    display: flex !important;

}

#submit_prompt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #FFF;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: var(--shadow);
    overflow: hidden;
    padding: 30px 60px;
    display: none;
    overflow: visible;
    z-index: 2;
}

#submit_prompt main {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}