<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/pharmacy-inventory.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <div class="profile">
        <img src="../icon/profile.svg" alt="" />
      </div>
    </header>
    <h1 class="headings">INVENTORY</h1>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button>Transfer</button>
          <button>Add Medicine</button>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>PRODUCT ID</th>
              <th>PRODUCT CODE</th>
              <th>PRODUCT NAME</th>
              <th>BRAND NAME</th>
              <th>SUPPLIER</th>
              <th>DOSAGE FORM</th>
              <th>DOSAGE</th>
              <th>REORDER LEVEL</th>
              <th>BATCH NUMBER</th>
              <th>QUANTITY</th>
              <th>EXPIRATION DATE</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </main>
  </body>
</html>
