<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
    rel="shortcut icon"
    type="image/png"
    href=""
  />
    <title>PHARMACY|Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global/general.css" />
    <link rel="stylesheet" href="../css/local/pharmacy-inventory.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../includes/header.ejs")  %>
    <h1 class="headings">INVENTORY</h1>
    <main>
      <div class="buttons">
        <div class="search">
          <input type="text" placeholder="Search..." />
          <img src="../icon/search.svg" alt="" />
        </div>
        <div class="add-transfer">
          <button>RECORDS</button>
          <button>RESTOCK</button>
          <button>TRANSFER</button>
          <button>ADD MEDICINE</button>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>PRODUCT ID</th>
              <th>PRODUCT CODE</th>
              <th>PRODUCT NAME</th>
              <th>BRAND NAME</th>
              <th>SUPPLIER</th>
              <th>DOSAGE FORM</th>
              <th>DOSAGE</th>
              <th>REORDER LEVEL</th>
              <th>BATCH NUMBER</th>
              <th>QUANTITY</th>
              <th>EXPIRATION DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>asdasdas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadasd</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdasd</td>
              <td>asdasdasd</td>
            </tr>
            <tr>
              <td>asdasdas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadasd</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdasd</td>
              <td>asdasdasd</td>
            </tr>
            <tr>
              <td>asdasdas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadasd</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdsadas</td>
              <td>asdasdas</td>
              <td>asdsadas</td>
              <td>asdasd</td>
              <td>asdasdasd</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="download-CSV">
        <button>DOWNLOAD CSV</button>
      </div>
    </main>
  </body>
</html>
