<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/general.css" />
    <title>PHARMACY|REQUESTS FOR DISPENSE</title>
</head>
<body>
    <%- include("../includes/header.ejs")  %>
    <%- include("../includes/pharmacy-sub-head.ejs")  %>
    <main>
        <div class="search">
            <input type="text" id="searchInput" placeholder="Search..." />
            <img src="../icon/search.svg" alt="" />
        </div>

        <div class="table-container" id="">
            <table>
              <thead>
                <tr>
                  <th>NAME</th>
                  <th>GENDER</th>
                  <th>ADDRESS</th>
                  <th>MEDICINE</th>
                  <th>QUANTITY</th>
                  <th>DOCTOR</th>
                  <th>DIAGNOSES</th>
                </tr>
              </thead>
              <tbody id="">
             
              </tbody>
            </table>
            <div>
            </div>
          </div>
    </main>
    
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var nav3 = document.querySelector(".nav3");
    if (nav3) {
      nav3.classList.toggle("selected");
    }
  });
</script>
</html>