<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/pharmacy-trends.css" />
  <title>Document</title>
</head>
<body>
  <%- include("../includes/header.ejs")  %>
    <h1 class="headings">MAJOR ACCOMPLISHMENTS</h1>
    <main>
      <select name="" id="">
        <option value="">YEARLY</option>
        <option value="">MONTHLY</option>
      </select>
      <div class="graphs">
        <div>
          <div class="growth"> 
            <div>
              <h1 class="graph-heading">OUR GROWTH</h1>
              <h4 class="graph-date">2021-2023</h5>
            </div>
            <div class="main-graph">
              <img src="../img/local/growth.png" alt="">
            </div>
            <div class="data">
              <div>
                <div class="bullet bullet1"></div>
                <div>
                  <h3 id="prescriptions-filled">383,355</h1>
                  <p>Prescriptions Filled</p>
                </div>
              </div>
              <div>
                <div class="bullet bullet2"></div>
                <div>
                  <h3 id="transactions">135,645</h3>
                  <p>Transactions</p>
                </div>
              </div>
            </div>
          </div>
          <div class="availment">
            <div>
              <h1 class="graph-heading">TOTAL AVAILMENT</h1>
              <h4 class="graph-date">2021-2023</h4>
            </div>
            <div class="main-graph">
              <img src="../img/local/availment.png" alt="">
            </div>
            <div class="data">
              <div>
                <div class="bullet bullet1"></div>
                <div>
                  <h3 id="prescriptions-filled">187,536</h1>
                  <p>Prescriptions Filled</p>
                </div>
              </div>
              <div>
                <div class="bullet bullet2"></div>
                <div>
                  <h3 id="transactions">67,671</h3>
                  <p>Transactions</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="demographics">
            <div>
              <h1 class="graph-heading">AGE DEMOGRAPHICS</h1>
            </div>
            <div class="main-graph">
              <img src="../img/local/ageDemo.png" alt="">
            </div>
            <div class="data">
              <div>
                <div class="person child">
                  <div>
                    <img src="../icon/child-man.svg" alt="">
                    <img src="../icon/child-woman.svg" alt="">
                  </div>
                  <p>0-14 years old</p>
                  <p>11,597</p>
                </div>
                <div class="person sakto">
                  <div>
                    <img src="../icon/man.svg" alt="">
                    <img src="../icon/woman.svg" alt="">
                  </div>
                  <p>15-64 years old</p>
                  <p>13,598</p>
                </div>
                <div class="person old">
                  <div>
                    <img src="../icon/old-man.svg" alt="">
                    <img src="../icon/old-woman.svg" alt="">
                  </div>
                  <p>65+ years old</p>
                  <p>11,597</p>
                </div>
              </div>
            </div>
          </div>
          <div class="summary">
            <div>
              <h1 class="graph-heading">SUMMARY OF BENEFICIARIES SERVE</h1>
            </div>
            <div class="main-graph">
              <img src="../img/local/availment.png" alt="">
            </div>
            <div class="data">
              <div>
                <div class="bullet bullet1"></div>
                <div>
                  <h3 id="prescriptions-filled">187,536</h1>
                  <p>Prescriptions Filled</p>
                </div>
              </div>
              <div>
                <div class="bullet bullet2"></div>
                <div>
                  <h3 id="transactions">67,671</h3>
                  <p>Transactions</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>