<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/pharmacy-trends.css" />
  <title>HealthSync</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/global/healthvector.png"
    />
</head>

<body>
  <%- include("../includes/header.ejs")  %>
  <%- include("../includes/pharmacy-sub-head.ejs")  %>
  <main>
    <select name="" id="">
      <option value="">YEARLY</option>
      <option value="">MONTHLY</option>
    </select>
    <div class="graphs">
      <div>
        <div class="growth">
          <div>
            <h1 class="graph-heading">OUR GROWTH</h1>
            <h4 class="graph-date">2021-2023</h5>
          </div>
          <div class="main-graph">
            <img src="../img/local/growth.png" alt="">
          </div>
          <div class="data">
            <div>
              <div class="bullet bullet1"></div>
              <div>
                <h3 id="prescriptions-filled">383,355</h1>
                  <p>Prescriptions Filled</p>
              </div>
            </div>
            <div>
              <div class="bullet bullet2"></div>
              <div>
                <h3 id="transactions">135,645</h3>
                <p>Transactions</p>
              </div>
            </div>
          </div>
        </div>
        <div class="availment">
          <div>
            <h1 class="graph-heading">TOTAL AVAILMENT</h1>
            <h4 class="graph-date">2021-2023</h4>
          </div>
          <div class="main-graph">
            <img src="../img/local/availment.png" alt="">
          </div>
          <div class="data">
            <div>
              <div class="bullet bullet1"></div>
              <div>
                <h3 id="prescriptions-filled">187,536</h1>
                  <p>Prescriptions Filled</p>
              </div>
            </div>
            <div>
              <div class="bullet bullet2"></div>
              <div>
                <h3 id="transactions">67,671</h3>
                <p>Transactions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="demographics">
          <div>
            <h1 class="graph-heading">AGE DEMOGRAPHICS</h1>
          </div>
          <div class="main-graph">
            <img src="../img/local/ageDemo.png" alt="">
          </div>
          <div class="data">
            <div>
              <div class="person child">
                <div>
                  <img src="../icon/child-man.svg" alt="">
                  <img src="../icon/child-woman.svg" alt="">
                </div>
                <p>0-14 years old</p>
                <p><strong>11,597</strong></p>
              </div>
              <div class="person sakto">
                <div>
                  <img src="../icon/man.svg" alt="">
                  <img src="../icon/woman.svg" alt="">
                </div>
                <p>15-64 years old</p>
                <p><strong>13,598</strong></p>
              </div>
              <div class="person old">
                <div>
                  <img src="../icon/old-man.svg" alt="">
                  <img src="../icon/old-woman.svg" alt="">
                </div>
                <p>65+ years old</p>
                <p><strong>11,597</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="summary">
          <div>
            <h1 class="graph-heading">SUMMARY OF BENEFICIARIES SERVE</h1>
          </div>
          <div class="main-graph">
            <div>
              <img src="../icon/tulo-na-tawo.svg" alt="">
              <div>
                <h2>71,961</h2>
                <p>Total Population</p>
              </div>
            </div>
            <div>
              <img src="../icon/documents.svg" alt="">
              <div>
                <h2>30,656</h2>
                <p>Total FMAP Beneficiaries</p>
              </div>
            </div>
            <div>
              <img src="../icon/bar-graph.svg" alt="">
              <div>
                <h2>42,60%</h2>
                <p>Achievement in Percent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="disease">
        <div>
          <h1 class="graph-heading">NON-COMMUNICABLE DISEASE</h1>
        </div>
        <div>
          <p>NCDs remain the leading cause of mortality in the country. Cardiovascular diseases or diseases of the heart account for 1 in every 3 NCD deaths in the Philippines, where hypertension, considered a “silent killer,”  is a major risk factor.
            Source: WHO</p>
          <img src="../img/local/ageDemo.png" alt="">
          <p>In 2020, hypertension was the leading disease in the Eastern Visayas region of the Philippines, with over 16.9 thousand cases. The other leading causes of morbidity in the region was acute respiratory infection and urinary tract infection.
            Source: statista.com</p>
        </div>
      </div>
      <div class="prescribe-drugs">
        <div>
          <h1 class="graph-heading">TOP 10 MOST PRESCRIBE DRUGS</h1>
        </div>
        <table>
          <thead>
            <tr>
              <th>THERAPEUTIC CATEGORY</th>
              <th>NO. OF PATIENTS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>two</td>
              <td>2</td>
            </tr>
            <tr>
              <td>three</td>
              <td>3</td>
            </tr>
            <tr>
              <td>four</td>
              <td>4</td>
            </tr>
            <tr>
              <td>five</td>
              <td>5</td>
            </tr>
            <tr>
              <td>six</td>
              <td>6</td>
            </tr>
            <tr>
              <td>seven</td>
              <td>7</td>
            </tr>
            <tr>
              <td>eight</td>
              <td>8</td>
            </tr>
            <tr>
              <td>nine</td>
              <td>9</td>
            </tr>
            <tr>
              <td>ten</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="estimated-cost">
        <div>
          <h1 class="graph-heading">ESTIMATED COST OF AVAILMENT PER BENEFICIARY</h1>
        </div>
        <table>
          <thead>
            <tr>
              <th colspan="6">DIALYSIS PATIENTS</th>
            </tr>
            <tr>
              <th>NAME OF MEDICINE</th>
              <th>QUANTITY</th>
              <th>UNIT COST</th>
              <th>TOTAL COST</th>
              <th>MARKET PRICE</th>
              <th>TOTAL COST</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>two</td>
              <td>2</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>three</td>
              <td>3</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>four</td>
              <td>4</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>five</td>
              <td>5</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>six</td>
              <td>6</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>seven</td>
              <td>7</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>eight</td>
              <td>8</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>nine</td>
              <td>9</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>ten</td>
              <td>10</td>
              <td>wan</td>
              <td>1</td>
              <td>wan</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script>
    document.getElementById("logo").addEventListener('click', function(){
      window.location.href = "/pharmacy-inventory";
    })
    document.addEventListener("DOMContentLoaded", function() {
    var nav3 = document.querySelector(".nav4");
    if (nav3) {
      nav3.classList.toggle("selected");
    }
  });
  </script>
</body>

</html>