<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global/general.css" />
  <link rel="stylesheet" href="../css/local/pharmacy-trends.css" />
  <title>Document</title>
</head>
<body>
  <%- include("../includes/header.ejs")  %>
    <h1 class="headings">MAJOR ACCOMPLISHMENTS</h1>
    <main>
      <select name="" id="">
        <option value="">YEARLY</option>
        <option value="">MONTHLY</option>
      </select>
      <div class="graphs">
        <div>
          <div class="growth"> 
            <h1 class="graph-heading">OUR GROWTH</h1>
            <h5 class="graph-date">2021-2023</h5>
            <div class="main-graph">
            </div>
            <div class="data">
              <div>
                <div class="bullet"></div>
                <h1 id="prescriptions-filled">383,355</h1>
                <p>Prescriptions Filled</p>
              </div>
              <div>
                <div class="bullet"></div>
                <h1 id="transactions">135,645</h1>
                <p>Transactions</p>
              </div>
            </div>
          </div>
          <div class="availment">
            <h1 class="graph-heading">TOTAL AVAILMENT</h1>
            <h5 class="graph-date">2021-2023</h5>
            <div class="main-graph">
            </div>
            <div class="data">
              <div>
                <div class="bullet"></div>
                <h1 id="prescriptions-filled">187,536</h1>
                <p>Prescriptions Filled</p>
              </div>
              <div>
                <div class="bullet"></div>
                <h1 id="transactions">67,671</h1>
                <p>Transactions</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="demographics"></div>
          <div class="summary"></div>
        </div>
      </div>
    </main>
</body>
</html>